
@{
    ViewBag.Title = "Approve Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-size: 1400px;
        background-image: url(../Images/bg1.jpg);
    }
</style>

<h2>Approve</h2>
<html>
<center>
    <h1> Thank You! </h1>
    <h2> Since You approve request, details of sender will be sent to you on mail.
    Check Your mail and contact with him.</h2>
</center>
</html>